.App {
  text-align: center;
  background: url('../src/assets/background/wallpaper.jpg');
  background-size: cover;
  background-position: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin-top: -15vh;
  margin-bottom: 5vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 18s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(255, 255, 255, 0.805);
  text-shadow: black 2px 2px 2px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

fieldset{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1.4vh auto;
  height: 17vh;
  width: max-content;
}

h5{
    margin: 0 auto;
}

.algorithm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}